
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media(min-width:400px) {
  @for $n from 1 through 12{
    .col-sm-#{$n}{
      float: left;
      padding: 0 15px;
      width: percentage($n/12);
    }
  }
}

@media(min-width:800px) {
    @for $n from 1 through 12{
    .col-md-#{$n}{
      float: left;
      padding: 0 15px;
      width: percentage($n/12);
    }
  }
}

@media(min-width:1200px) {
    @for $n from 1 through 12{
    .col-lg-#{$n}{
      float: left;
      padding: 0 15px;
      width: percentage($n/12);
    }
  }
}

