.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

$cols: 12;
// // can remove max-width condition is order is from smallest to largest
// @mixin media-column($category, $min-width) {
//   @media (min-width: $min-width){
//     @for $n from 1 through $cols {
//       .col-#{$category}-#{$n} {
//         float: left;
//         padding: 0 2%;
//         width: percentage($n/$cols);
//       }
//     }
//   }
// }

// @include media-column(sm, 768px);
// @include media-column(md, 992px);
// @include media-column(lg, 1200px);


$map: (sm: 768px, md: 992px, lg: 1200px);

@each $category, $min-width in $map {
  @media (min-width: $min-width) {
    @for $n from 1 through $cols {
      .col-#{$category}-#{$n} {
        float: left;
        padding: 0 2%;
        width: percentage($n/$cols);
      }
    }
  }
}

// @media (max-width: 1000px){

//   @for $n from 1 through 12{
//     .col-md-#{$n}{
//       float: left;
//       padding: 0, 15px;
//       width: percentage($n/$n);
//     }
//   }

//   .navbar{
//     .navbar-right{
//       margin-top: 0px;
//       float:right;
//       padding: 15px 50px 0px 50px;
//     }
//   }
// }

// @media (max-width: 700px){

//   @for $n from 1 through 12{
//     .col-sm-#{$n}{
//       float: left;
//       padding: 0, 15px;
//       width: percentage($n/$n);
//     }
//   }

//   .container{
//     text-align: center;
//   }
//   ul{
//     list-style-type: none;
//   }
//   li{
//     padding-top: 5px;
//     padding-bottom: 5px;
//   }

//   .section.lead{
//     padding-top:50px
//   }

//   .navbar{
//     height: 100px;
//     .navbar-brand{
//       display: inline-block;
//       margin: auto;
//       padding: 10px 25vw 0 25vw;
//       clear: both;
//     }

//     .navbar-right{
//       display: inline-block;
//       margin: auto;
//       padding: 10px 37vw 0 37vw;
//       float: left;
//       clear: both;
//     }
//   }

//   .page-header{
//     padding: 10px;
//   }

//   form{

//     .form-group{
//       width: 100%;
//       float: left;
//       clear: both;
//       display: block;
//     }
//   }
// } 
